{% extends 'base.html.twig' %}
{% form_theme formBoard 'bootstrap_5_layout.html.twig' %}

{% block body %}


    {% if editMode %}

        

        {% if user == board.author %}

        <h1 class="text-center">Modification d'une table </h1>
    
<div class="container ">
    {{ form_start(formBoard) }}
    {{ form_row(formBoard.title, {"label" : "Titre",'attr': {'placeholder':"Titre de la partie"}}) }}
    {{ form_row(formBoard.description, {"label" : "Description" ,'attr': {'placeholder':"Plateforme utilisée, Fréquence des séances, Noms des joueurs et toute autre description de la future partie..."}}) }}
    {{ form_row(formBoard.game,{"label" : "Jeu"}) }}
    {{ form_row(formBoard.joueurs, {"label" : "Joueurs"}) }}
    {{ form_row(formBoard.category,{"label" : "Category"}) }}
    {{ form_row(formBoard.date, {"label" : "Date de début"}) }}
    {{ form_row(formBoard.online, {"label" : "Si vous utilisez une table virtuelle, cochez cette case "}) }}
    {{ form_row(formBoard.full, {"label" : "Si votre table est complète, cochez cette case "}) }}
        <button type="sumbit" class="btn btn-success ">Modifier la table</button>
           



    {{ form_end(formBoard) }}


    </div>
    {% else %}
        <h2 class="text-center">Vous ne pouvez modifier que vos tables !</h2>
    {% endif %}    

        {% else %}
    <h1 class="text-center">Création d'une table </h1>
    
<div class="container ">
    {{ form_start(formBoard) }}

    {{ form_row(formBoard.title, {"label" : "Titre",'attr': {'placeholder':"Titre de la partie"}}) }}
    
    {{ form_row(formBoard.description, {"label" : "Description" ,'attr': {'placeholder':"Plateforme utilisée, Fréquence des séances, Noms des joueurs et toute autre description de la future partie..."}}) }}
    {{ form_row(formBoard.game,{"label" : "Jeu"}) }}
    {{ form_row(formBoard.joueurs, {"label" : "Joueurs"}) }}
    {{ form_row(formBoard.category,{"label" : "Category"}) }}
    {{ form_row(formBoard.date, {"label" : "Date de début"}) }}
    {{ form_row(formBoard.online, {"label" : "Si vous utilisez une table virtuelle, cochez cette case "}) }}
    {{ form_row(formBoard.full, {"label" : "Si votre table est complète, cochez cette case "}) }}
    <br>
    


    
   

        <button type="sumbit" class="btn btn-success ">
          
        Ajouter la table
        </button>
           



    {{ form_end(formBoard) }}


    </div>
    {% endif %}


{% endblock %}
